<div class="quick-links-wrapper" fxLayoutAlign="stretch center" id="products">
  <div class="links-wrapper" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    <ul class="quick-links white" fxLayout="column" fxLayoutAlign="start start">
      <li (click)="scrollTo(product.anchor)" fxLayout="row" fxLayoutAlign="start center" *ngFor="let product of products | slice:0:3;"><img class="logo" [src]="product.icon"/><span>{{ product.name }} <img src="assets/imgs/chevron-white.svg"/></span></li>
    </ul>
    <ul class="quick-links black" fxLayout="column" fxLayoutAlign="start end" fxLayoutAlign.gt-sm="start start">
      <li (click)="scrollTo(product.anchor)" fxLayout="row" fxLayoutAlign="start center" *ngFor="let product of products | slice:3:6;"><img class="logo" [src]="product.icon"/><span>{{ product.name }} <img src="assets/imgs/chevron-black.svg"/></span></li>
    </ul>
  </div>
  <div fxShow fxHide.gt-md class="mobile-background"></div>
</div>

<div class="product-wrapper">
  <div class="product" *ngFor="let product of products; let i = index" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-between center">
    <img fxHide fxShow.gt-md [ngClass]="{'left': (i+1)%2 === 0, 'right': (i+1)%2 !== 0}" [class]="product.anchor" [src]="product.image" />
    <div class="card" [id]="product.anchor">
      <h2>{{ product.name }}</h2>
      <div fxHide fxShow.gt-xs class="summary" fxLayout="row" fxLayoutAlign="space-between center">
        <h3>{{ product.design }}</h3>
        <img src="assets/imgs/design&developer.svg"/>
        <h3>{{ product.developer }}</h3>
      </div>
      <div fxShow fxHide.gt-xs class="summary" fxLayout="row">
        <img src="assets/imgs/design-icon.svg"/>
        <h3>{{ product.design }}</h3>
      </div>
      <div fxShow fxHide.gt-xs class="summary" fxLayout="row">
        <img src="assets/imgs/develop-icon.svg"/>
        <h3>{{ product.developer }}</h3>
      </div>
      <p class="body-copy">
        {{ product.paragraph1 }}
      </p>
      <p class="body-copy">
        {{ product.paragraph2 }}      
      </p>
      <p class="body-copy">
        {{ product.paragraph3 }}
      </p>
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start start">
        <a [href]="product.primaryButtonLink" target="_blank"><button class="button-primary">{{ product.primaryButtonText }}</button></a>
        <a *ngIf="product.inverseButtonLink" [href]="product.inverseButtonLink" target="_blank"><button class="button-inverse">{{ product.inverseButtonText }}</button></a>
      </div>
    </div>
    <img fxShow fxHide.gt-md class="product-image" [src]="product.image" />
  </div>
  <div class="contact">
    <a href="mailto:lisa.c.coppinger@gmail.com"><button class="button-inverse">Email me for more information</button></a>
  </div>
</div>
