<div class="header-wrapper">
  <div class="content-wrapper">
    <h1 class="title">Lisa Coppinger</h1>
    <div class="subtitle-wrapper">
      <h2 class="subtitle">Product Designer</h2>
      <img src="assets/imgs/ampersand.svg"/>
      <h2 class="subtitle">Designer</h2>
    </div>
    <p class="body-copy">
      I create engaging, user centric products from concept to delivery. These include responsive websites and hybrid mobile apps.
    </p>
    <p class="body-copy">
      I constantly aim to produce high-quality products that solve a variety of challenges.
    </p>
  </div>
</div>
