<div class="wrapper">
  <img class="footer-image" fxHide fxShow.gt-md src="assets/imgs/footer-background.svg" />
  <div class="footer-wrapper" fxLayout="column" fxLayoutAlign="end stretch">
    <div fxLayout="row" fxLayoutAlign="start center">
      <p class="body-copy">© 2019. Designed and built <br> by Lisa Coppinger</p>
    </div>
    <div class="icons" fxLayout="row" fxLayoutAlign="end center">
      <a href="mailto:lisa.c.coppinger@gmail.com"><img src="assets/imgs/email-icon.svg"/></a>
      <a href="https://www.linkedin.com/in/lisa-coppinger-a9b30ba7/" target="_blank"><img src="assets/imgs/linkedIn-icon.svg"/></a>
      <a href="https://github.com/lcoppinger" target="_blank"><img src="assets/imgs/github-icon.svg"/></a>
    </div>
  </div>
</div>
