@import "./src/styles";


.header-wrapper {
    background: url('../../../assets/imgs/header-background-mobile.svg') no-repeat center;
    min-height: 970px;
    background-size: 100%;

    @media (min-width: $screen-sm) {
        background: url('../../../assets/imgs/header-background-tablet.svg') no-repeat center;
        min-height: 904px;
        background-size: 100%;
    }

    @media (min-width: $screen-md) {
        background: url('../../../assets/imgs/header-background.svg') no-repeat top;
        background-size: 100%;
        min-height: 680px;
    }

    @media (min-width: $screen-lg) {
        min-height: 940px;
    }
}

.title {
    @extend %header-title;
    margin: 0 0 20px 0;
}

.subtitle {
    @extend %header-subtitle;
    margin: 0;

    @media (min-width: $screen-md) {
        margin: 0 0 20px 0;
    }
}

.content-wrapper {
    padding: 30px;

    @media (min-width: $screen-md) {
        width: 50%;
        padding: 40px;
    }

    @media (min-width: $screen-lg) {
        width: 50%;
        padding: 80px 60px 60px 100px;
        padding: 60px;
    }
}

.body-copy {
    font-size: 16px;

    @media (min-width: $screen-sm) {
        font-size: 18px;
    }

    @media (min-width: $screen-lg) {
        font-size: 24px;
    }
}

.wrap-text {
    @media (min-width: $screen-md) {
        width: 80%;
    }
}

.subtitle-wrapper {
    img {
        margin: 0 10px;
        height: 40px; 

        @media (min-width: $screen-lg) {
            height: auto;
        }
    }
}

.icons {
    a  {
        margin-right: 20px;
    }
}