@import "./src/styles";


.header-wrapper {
    position: relative;

    @media (min-width: 600px) {
        background: url('../../../assets/imgs/header-background-tablet.svg') no-repeat top;
        min-height: 904px;
        background-size: 100%;
    }

    @media (min-width: 960px) {
        background: url('../../../assets/imgs/header-background.svg') no-repeat top;
        background-size: 100%;
        min-height: 680px;
    }

    @media (min-width: 1280px) {
        background: none;
    }
}

.header-image {
    width: 100%;
}

.title {
    @extend %header-title;
    margin: 0 0 20px 0;
}

.subtitle {
    @extend %header-subtitle;
    margin: 0;

    @media (min-width: $screen-md) {
        margin: 0 0 20px 0;
    }
}

.content-wrapper {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $screen-md) {
        width: 60%;
        padding: 40px;
    }

    @media (min-width: $screen-lg) {
        width: 60%;
        padding: 80px 60px 60px 100px;
        padding: 60px;
    }

    .button-primary {
        @media (min-width: $screen-sm) {
            margin: 30px 0;
        }
    }
}

.body-copy {
    font-size: 16px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media (min-width: $screen-sm) {
        font-size: 18px;
    }

    @media (min-width: $screen-lg) {
        font-size: 24px;
    }
}

.wrap-text {
    @media (min-width: $screen-md) {
        width: 70%;
    }
}

.subtitle-wrapper {
    img {
        margin: 0 10px;
        height: 34px; 

        @media (min-width: $screen-lg) {
            height: auto;
        }
    }
}

.icons {
    a  {
        margin-right: 20px;
    }
}