<div class="header-wrapper">
  <div class="content-wrapper">
    <h1 class="title">Lisa Coppinger</h1>
    <div class="subtitle-wrapper" fxLayout="column" fxLayout.gt-xs="row">
      <div fxLayout="row">
        <h2 class="subtitle">Product Designer</h2>
        <img src="assets/imgs/ampersand.svg"/>
      </div>
      <h2 class="subtitle">Developer</h2>
    </div>
    <p class="body-copy">
      I create engaging, user centric products from concept to delivery. These include responsive websites and hybrid mobile apps.
    </p>
    <p class="body-copy wrap-text">
      I constantly aim to produce high-quality products that solve a variety of challenges.
    </p>
    <button type="button" class="button-primary" (click)="scrollTo()">Jump to products</button>
    <div class="icons">
      <a href="mailto:lisa.c.coppinger@gmail.com"><img src="assets/imgs/email-icon.svg"/></a>
      <a href="https://www.linkedin.com/in/lisa-coppinger-a9b30ba7/" target="_blank"><img src="assets/imgs/linkedIn-icon.svg"/></a>
      <a href="https://github.com/lcoppinger" target="_blank"><img src="assets/imgs/github-icon.svg"/></a>
    </div>
  </div>
</div>
