<div class="section-wrapper">
  <div class="image-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <img fxHide fxShow.gt-md src="assets/imgs/circles-desktop.svg"/>
    <img fxHide fxShow.gt-sm fxHide.gt-md src="assets/imgs/circles-tablet.svg"/>
  </div>
  <div fxHide fxShow.gt-sm class="circles-wrapper" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
    <div class="circle" fxLayout="column" fxLayoutAlign="start center">
      <h2>Designer</h2>
      <p fxHide fxShow.gt-sm class="body-copy">Identify requirements, target market and brand. Create engaging products through user centric design principles.</p>
      <div class="skills-wrapper" fxLayout="row" fxLayoutAlign="start start">
        <ul class="skills-list">
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>UX/Interaction design</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>Graphic design</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>Responsive design</li>
        </ul>
        <ul class="skills-list">
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>UI/Visual design</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>Product/Market research</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>User research and profiling</li>
        </ul>
      </div>
      <div class="icon-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <div class="icon">
          <img src="assets/imgs/zeplin-icon.svg"/>
          <h3>Zeplin</h3>
        </div>
        <div class="icon">
          <img src="assets/imgs/sketch-icon.svg"/>
          <h3>Sketch</h3>
        </div>
        <div class="icon">
          <img src="assets/imgs/invision-icon.svg"/>
          <h3>Invision</h3>
        </div>
      </div>
    </div>
    <div class="circle" fxLayout="column" fxLayoutAlign="start center">
      <h2>Developer</h2>
      <p fxHide fxShow.gt-sm class="body-copy">Build and develop prototypes to fully released websites and applications. Worked individually and in cross functional teams.</p>
      <div class="skills-wrapper" fxLayout="row" fxLayoutAlign="start start">
        <ul class="skills-list">
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>Front-end developer</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>Javascript libraries</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>Responsive build</li>
        </ul>
        <ul class="skills-list">
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>Hybrid mobile developer</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>CSS pre-processors</li>
          <li fxLayoutAlign="start start"><img src="assets/imgs/bullet-icon.svg"/>CMS experience</li>
        </ul>
      </div>
      <div class="icon-wrapper" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="icon">
          <img src="assets/imgs/angular-icon.svg"/>
          <h3>Angular</h3>
        </div>
        <div class="icon">
          <img src="assets/imgs/ionic-icon.svg"/>
          <h3>Ionic 3</h3>
        </div>
        <div class="icon">
          <img src="assets/imgs/d3-icon.svg"/>
          <h3>D3.js</h3>
        </div>
        <div class="icon" fxHide fxShow.gt-sm>
          <img src="assets/imgs/jQuery-icon.svg"/>
          <h3>jQuery</h3>
        </div>
        <div class="icon second">
          <img src="assets/imgs/sass-icon.svg"/>
          <h3>Scss/Sass</h3>
        </div>
        <div class="icon second" fxHide fxShow.gt-sm>
          <img src="assets/imgs/bootstrap-icon.svg"/>
          <h3>Bootstrap</h3>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxShow fxHide.gt-sm>
    <img class="mobile-circles" src="assets/imgs/mobile-circles.svg"/>
  </div>
</div>
